# Caminhos relativos à pasta do projeto
ARQUIVO_LOGS=./data/logs.jsonl
ARQUIVO_HASH=./data/log_hash.json
# Cardano / Blockfrost
REDE_CARDANO=Preview
BLOCKFROST_API_KEY=SUA_CHAVE_BLOCKFROST_AQUI


SEED_PHRASE=SUA_SEED_DO_EMISSOR_AQUI
SEED_DISPOSITIVO=SUA_SEED_DO_DISPOSITIVO_AQUI

# Preencha com enderecos da sua propria configuracao.
ENDERECO_EMISSOR=SEU_ENDERECO_DE_TESTE_AQUI
ENDERECO_AUDITOR=ENDERECO_DO_AUDITOR_AQUI
ENDERECO_DISPOSITIVO_INICIAL=ENDERECO_DO_DISPOSITIVO_AQUI


#Apenas um numero para identificacao
LABEL_METADADOS=150

# Operacao do "robô"

USAR_CONTRATO_ACESSO=true
AUDITAR_HISTORICO_COMPLETO=false

INTERVALO_LOTE_SEG=120
ATRASO_FECHAMENTO_JANELA_SEG=3
INTERVALO_ROBO_MS=30000
INTERVALO_AUDITORIA=5
DELAY_ANTES_AUDITORIA_MS=30000
MAX_TENTATIVAS_ANCORAGEM=5
DELAY_RETRY_ANCORAGEM_MS=30000
MAX_TENTATIVAS_VERIFICACAO=5
DELAY_RETRY_VERIFICACAO_MS=30000

# Dados especificos de uma implantacao: gere/preencha localmente.

CONTRATO_BOOTSTRAP_UTXO=TX_HASH_DO_BOOTSTRAP#INDICE
CONTRATO_VALOR_ESTADO_LOVELACE=5000000
